[user]
	email = ibeem@outlook.com
	name = Almarhoon Ibraheem
[core]
	autocrlf = input
[http]
	sslverify = false
	proxy = 
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
