pkgbase = ebeem-dotfiles
	pkgdesc = Packages installed by ebeem
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/ebeem/dotfiles
	arch = any
	license = MIT
	depends = cups
	depends = curl
	depends = gparted
	depends = ntfs-3g
	depends = git
	depends = pipewire
	depends = hostapd
	depends = etcher-bin
	depends = btop
	depends = htop-vim
	depends = ocs-url
	depends = deluge-gtk
	depends = stow
	depends = cronie
	depends = nextcloud
	depends = nextcloud-client
	depends = aspell
	depends = aspell-en
	depends = fd
	depends = editorconfig-core-c
	depends = pass
	depends = thunar
	depends = searchmonkey-gtk
	depends = flameshot
	depends = ristretto
	depends = xclip
	depends = gvfs
	depends = gvfs-smb
	depends = gvfs-mtp
	depends = gvfs-nfs
	depends = gvfs-google
	depends = libreoffice-fresh
	depends = firefox
	depends = qutebrowser
	depends = chromium
	depends = arch-install-scripts
	depends = neofetch
	depends = android-apktool
	depends = dotnet-host
	depends = dotnet-runtime
	depends = dotnet-sdk
	depends = dotnet-targeting-pack
	depends = omnisharp-roslyn
	depends = python
	depends = python-keras
	depends = python-matplotlib
	depends = python-scikit-learn
	depends = python-seaborn
	depends = python-tensorflow
	depends = python-dbus-next
	depends = dejagnu
	depends = jupyter-notebook
	depends = cython
	depends = spyder
	depends = dart
	depends = go
	depends = go-tools
	depends = postgresql
	depends = mariadb
	depends = sqlite
	depends = php
	depends = php-apache
	depends = octave
	depends = guile
	depends = lua
	depends = apache
	depends = composer
	depends = insomnia-bin
	depends = nodejs
	depends = npm
	depends = filezilla
	depends = godot
	depends = emacs
	depends = arduino
	depends = visual-studio-code-bin
	depends = jetbrains-toolbox
	depends = vi
	depends = vim
	depends = neovim
	depends = gdb
	depends = r2ghidra
	depends = radare2
	depends = rz-cutter
	depends = rz-ghidra
	depends = hexedit
	depends = nmap
	depends = metasploit
	depends = gobuster-git
	depends = sqlmap
	depends = hydra
	depends = tor
	depends = zsh
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-syntax-highlighting
	depends = zsh-theme-powerlevel10k
	depends = powerline-fonts
	depends = ttf-meslo-nerd-font-powerlevel10k
	depends = kitty
	depends = blender
	depends = obs-studio
	depends = audacity
	depends = lmms
	depends = darktable
	depends = gimp
	depends = inkscape
	depends = krita
	depends = mpd
	depends = blanket
	depends = ncmpcpp
	depends = vlc
	depends = kodi
	depends = yt-dlp
	depends = openshot
	depends = breeze-snow-cursor-theme
	depends = ttf-fira-sans
	depends = ttf-fira-code
	depends = ttc-iosevka
	depends = ttc-iosevka-aile
	depends = ttc-iosevka-etoile
	depends = ttf-jetbrains-mono
	depends = plymouth
	depends = noto-fonts
	depends = ttf-weather-icons
	depends = qtile
	depends = stumpwm
	depends = cl-swank
	depends = python-pywal
	depends = rofi
	depends = polybar
	depends = dunst
	depends = networkmanager-dmenu-git
	depends = picom
	depends = xorg-xrandr
	depends = feh
	depends = pamixer
	depends = brightnessctl
	depends = scrot
	depends = slock
	depends = upower
	depends = tlp
	depends = playerctl
	depends = pulseaudio-nextsink
	depends = xsettingsd
	depends = i-nex
	depends = ckb-next
	depends = openrgb
	depends = isync
	depends = mu
	depends = element-web
	depends = discord
	depends = slack-desktop
	depends = thunderbird
	depends = mattermost
	depends = dolphin-emu
	depends = retroarch
	depends = steam
	depends = steam-native-runtime
	depends = wine
	depends = gufw
	depends = ufw
	depends = openvpn
	depends = qemu
	depends = kubectl
	depends = docker
	depends = docker-compose
	depends = minikube
	depends = flatpak-builder

pkgname = ebeem-dotfiles
