! defined variables, the only variables themes need to adjust unless there is
! specific custom change to one of software or tools used
#define v_background #24273A
#define v_background_alt #242837
#define v_foreground #CAD3F5
#define v_foreground_alt #BFC7D5
#define v_primary #51afef

#define v_base0 #494D64
#define v_base1 #ED8796
#define v_base2 #A6DA95
#define v_base3 #EED49F
#define v_base4 #8AADF4
#define v_base5 #F5BDE6
#define v_base6 #8BD5CA
#define v_base7 #B8C0E0
#define v_base8 #5B6078

#define v_red #ED8796
#define v_orange #EED49F
#define v_green #A6DA95
#define v_teal #8BD5CA
#define v_yellow #EED49F
#define v_blue #8AADF4
#define v_dark_blue #8AADF4
#define v_magenta #F5BDE6
#define v_violet #F5BDE6
#define v_cyan #8BD5CA
#define v_dark_cyan #8BD5CA

#define v_border_width 2
#define v_border_radius 2

#define v_icons_theme Colloid-nord-dark
#define v_cursor_theme Breeze_Snow

#define v_pitch_font Iosevka Aile 12
#define v_fixed_font Iosevka SS14 12

*.icons.theme: v_icons_theme
*.cursor.theme: v_cursor_theme
*.icon-theme: v_icons_theme
*.font: v_pitch_font
*.font-fixed: v_fixed_font
*.terminal: alacritty

! default colors for all software inherited from the defined variables
*.background: v_background
*.background-alt: v_background_alt
*.foreground: v_foreground
*.foreground-alt: v_foreground_alt
*.cursorColor: v_foreground
*.primary: v_primary
*.base0: v_base0
*.base1: v_base1
*.base2: v_base2
*.base3: v_base3
*.base4: v_base4
*.base5: v_base5
*.base6: v_base6
*.base7: v_base7
*.base8: v_base8
*.red: v_red
*.orange: v_orange
*.green: v_green
*.teal: v_teal
*.yellow: v_yellow
*.blue: v_blue
*.dark-blue: v_dark_blue
*.magenta: v_magenta
*.violet: v_violet
*.cyan: v_cyan
*.dark-cyan: v_dark_cyan

*.border-color: v_primary
*.border-width: v_border_width
*.border-radius: v_border_radius

! custom variables to adjust the colors of some tools
polybar.background-alt: #352B3152
rofi.primary: v_primary
Xcursor.theme: v_cursor_theme

emacs.font: v_fixed_font