@import "macchiato.css";

* {
  /* reference the color by using @color-name */
  color: @text;
  font-family: "Iosevka SS14", "Iosevka Nerd Font", sans-serif;
  font-size: 15;
  font-weight: bold;
}

window#waybar {
  background: @base;
}

#workspaces {
  margin: 0px 5px 0px 5px;
  padding: 0px 25px 0px 15px;
}

#workspaces label {
}

#workspaces button.active label {
  color: @mauve;
}

#workspaces button {
  color: @pink;
  padding-left: 2px;
  margin: 2px 0;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}

#workspaces button.persistent {
  /* font-size: 1; */
}

#workspaces button.active {
  color: @flamingo;
}

#workspaces button:hover {
  color: @rosewater;
}

#tray,
#network,
#backlight,
#clock,
#cpu,
#memory,
#temperature,
#language,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  margin: 0px 0px 0px 0px;
  padding: 5px 12px 5px 8px;
}

#clock {
  margin: 5px 5px 5px 5px;
  padding: 5px 8px 5px 15px;
}
#language
#clock {
  color: @lavender;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio.muted {
    color: @red;
}

#custom-power {
    color: @red;
}

#mode {
    color: @yellow;
}

tooltip {
    background: @base;
    border: 1px solid @pink;
}

tooltip label {
    color: @text;
}
