[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=DMenu Password
GenericName=Password Manager
Exec=guile .bin/dmenu-password-controller.scm
Terminal=false
Icon=settings
Type=Application
Categories=Application;DMenu;Password;Settings;
