[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=DMenu Sound Input
GenericName=Sound Manager
Exec=guile .bin/dmenu-sound-input-controller.scm
Terminal=false
Icon=settings
Type=Application
Categories=Application;DMenu;Sound;Settings;
