[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=DMenu Power
GenericName=Power Manager
Exec=guile .bin/dmenu-power-controller.scm
Terminal=false
Icon=settings
Type=Application
Categories=Application;DMenu;Power;Settings;
