[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Emacs Elfeed
GenericName=RSS Reader
Exec=emacsclient -F "'(title . \"elfeed\")" -c -e "(elfeed)"
Terminal=false
Icon=emacs
Type=Application
Categories=Application;Emacs;Files;
