[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Emacs Ement
GenericName=Matrix Client
Exec=emacsclient -F "'(title . \"ement\")" -c -e "(ement-room-list)"
Terminal=false
Icon=emacs
Type=Application
Categories=Application;;Chat;Emacs;Matrix;
