[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Rofi Passwords
GenericName=Passwords Manager
Exec=.config/rofi/bin/password-manager
Terminal=false
Icon=settings
Type=Application
Categories=Application;Rofi;Passwords;Settings;
