[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Rofi Sound Input
GenericName=Sound Manager
Exec=.bin/rofi-sound-input
Terminal=false
Icon=settings
Type=Application
Categories=Application;Rofi;Sound;Settings;
