[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Rofi Bluetooth
GenericName=Bluetooth Manager
Exec=.bin/rofi-bluetooth
Terminal=false
Icon=settings
Type=Application
Categories=Application;Rofi;Bluetooth;Settings;
