[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Rofi Sound Input
GenericName=Sound Manager
Exec=.config/rofi/bin/sound_input
Terminal=false
Icon=settings
Type=Application
Categories=Application;Rofi;Sound;Settings;
