[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Emacs Vterm
GenericName=Terminal
Exec=emacsclient -c -e "(+vterm/here nil)"
Terminal=false
Icon=emacs
Type=Application
Categories=Application;Emacs;Terminal;
